header {
  height: px(12);
  background-color: $font_b2;
  color: $font_w;
  box-shadow:  $bor_fond;
  z-index: 1;
  position: fixed; 
  width: 100%; 
  transition: top 0.3s; 
  display: flex;
  align-items: center;
}

.menu {
  font-size: px(7);
  margin-left: px(4);
  cursor: pointer;
}
