@include mobile {
  .container {
    margin-left: 0;
    flex-direction: column-reverse;
  }
}

main {
  margin-top: px(12);
  flex: 56%;
  margin: 78px 25% 0 12%;
  text-align: center; 

  .main {
    margin: 0 10% 0 20%;
  }

  @include tablet {
    margin: 70px 30% 0 14%;

    .main {
      margin: 0 0 0 5%;
    }
  }

  @include mobile {
    margin: 0;
    flex: 1;
    .main {
      margin-left: 0;
    }
  } 
}

//part of chats
.postbox {
  margin-top: 75px;
  position: fixed;
  top: 0; /* Ajusta la posición verticalmente según sea necesario */
  right: 0; /* Ajusta la posición horizontalmente según sea necesario */
  width: 25%; /* Ajusta el ancho del elemento según sea necesario */
  text-align: center;
  color: $font_w1;
  
  @include mobile {
    position: static; /* Vuelve a la posición normal en dispositivos móviles */
    width: 100%; /* Ancho completo en dispositivos móviles */
    margin-left: 0;
  }
}