.alert{
    background-color: $red_dark;
    height: 2.5rem;
    @include flex-left;
    /* border-left: 0.5rem solid rgb(119, 9, 9); */
    border: 0.1rem solid $col_red;
    /* color: rgb(211, 12, 12); */
    color: $col_red;
    border-radius: 1rem;
    margin: 0 0 0.9rem 0;
    padding: 0 0 0 0.5rem;
    font-weight: 700;
    font-size: 1.1em;
    width: 16.5rem;
}

.alert-success{
    height: 2rem;
    @include flex-left;
    background-color: #081a43;
    border: 0.2rem solid rgb(102, 141, 214);
    color: #d0d0d0;
    border-radius: 0.5rem;
    margin: 0 0 2rem 0;
    padding: 0.9rem;
    font-weight: 700;
    font-size: 1.3em;
    width: 24rem;
    /* border-left: 0.5rem solid rgb(9, 214, 108);
    color: #d0d0d0;
    background-color: #084327; */
}

.alert2{
    background-color: $red_dark;
    height: 2.5rem;
    @include flex-left;
    /* border-left: 0.5rem solid rgb(119, 9, 9); */
    border: 0.1rem solid $col_red;
    color: $col_red;
    border-radius: 1rem;
    margin: 0 0 1.5rem 0;
    padding: 0 0 0 0.5rem;
    font-weight: 700;
    font-size: 1.1em;
    width: 20.5rem;
}

.icon-alert{
    margin: 0 1rem 0 0;
    color: 0.5rem solid rgb(9, 214, 108);
}