
.box {
  padding: px(4);
  border-radius: px(5); 
  border: $bor_card; 
  max-width: 80%;
  color: $font_w;
  text-align: center;
  margin: 20px auto;
}

.user {
  display: flex;
  align-items: center;
  font-size: px(4) ;  

  .profile {
    cursor: pointer;
    /* transition: $tr;  */  
    &:hover {
      color: $theme_bl;       
    }
  }
}

.date {
  font-size: px(3);
  margin-left: px(2);
  color: $font_w1;
}

.line {
  @include line($border);
}

.text {
  text-align: left;
  
  p {
    font-size: 18px ;
  }
}


@include mobile {
  .hidden {
    display: none;
  }
}

.box .text p.read-less-btn {
    display: none ;
}

@media (min-width:800px) {
  .text p.hidden_{
    display: none ;
  }
}

.images img {
  max-width: 100%; 
  height: auto;
  border-radius: px(5); 
}

.actions {
  display: flex;
  align-items: center;
  font-size: px(4);

  p {
    margin-right: px(3); 
    cursor: pointer;
    /* transition: $tr; */   
    
    &:hover {
      color: $theme_bl;       
    }
  }
}
