form .box {
  margin: 1rem 0;
  max-width: none;
}

.box .user {
  justify-content: space-between;
  padding: 1rem;

  &__avatar {
    align-items: center;
    display: flex;
    flex-direction: row;

    h2 {
      font-size: 1.5rem;
      font-weight: 500;
      padding-left: 1rem;
    }

    i {
      font-size: 2rem;
    }
  }

  &__date p {
    font-size: 1rem;
  }
}

.text .field {
  display: flex;
  flex-direction: row-reverse;

  .attach-file {
    color: $gray_1;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 14px;
    position: absolute;

    &:hover {
      color: darken($gray_1, 10%);
    }
  }

  input, textarea {
    background: $backinput;
    border-radius: 5px;
    border: none;
    color: $font_b4;
    font-family: $font_family_inputs;
    font-size: 1rem;
    margin: 0 0 1rem;
    padding: 1rem;
    width: 100%;
  }
}

form .images {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-bottom: 1rem;

  input[type="file"] {
    display: none;
  }

  .image {
    display: flex;
    margin: 0 4px 4px 0;
    cursor: pointer;

    img {
      border-radius: 10px;
      height: 5rem;
      object-fit: cover;
      user-select: none;
      border: $gray_1 solid 2px;
      width: 5rem;
    }
    
    .remove-image {
      color: $col_red;
      display: none;
      font-size: 22px;
      position: absolute;
      transform: translateX(68px);
    }

    &:hover img{
      border: $col_red solid 2px;
    }

    &:hover .remove-image {
      display: block;
    }
  }

  & > p.extra-files {
    color: $gray_1;
    font-size: 1rem;
    font-weight: 600;
    margin: auto auto auto 8px;
  }
}

.btn-container {
  display: flex;
  flex-direction: row-reverse;

  .btn {
    background-color: darken($backinput, 10%);
    border-radius: 10px;
    border: none;
    color: $font_b;
    font-size: 1rem;
    padding: 1rem 2rem;
    transition: background-color 100ms ease-in-out;
  
    &:hover {
      background-color: darken($backinput, 30%);
    }
  }
}
