.input {
    @include flex-center;
    width: calc(100% - 1rem);
    height: 1.5rem;
    padding: 0.6rem 1rem 0.6rem 2.6rem; 
    /* background-color: $input; */
    background: transparent;
    border: 0.15rem solid rgb(255, 255, 255);
    font-size: 0.9em;
    outline: none; /* Remove highlight border on selection */
    font-weight: 600;
    border-radius: 1.5rem;

    &:focus{
        /* border: 0.1rem solid rgb(87, 5, 5); */
        background-color: $input;
        
    }
}

.user-input {
    @include posicion-relative(0.8rem, 0, 3.5rem, 0);
    @include flex-center;
}

#user-input{
    @include posicion-absolute(1rem, 0.2rem, -50%);
    color: $fill2;
}
.input::placeholder{
    color: #bc9ccd;
    /* color:rgb(109, 78, 126); */
}

.icon {
    position: absolute;
    left: 0.1rem;
    font-size: 1.5rem;
    color: $fill;
    cursor: pointer;
    margin: 0 1rem 0 0.6rem;
}

.input.error {
    border: 0.1rem solid rgb(145, 8, 8);
    color: rgb(211, 12, 12);
    background-color: rgb(45, 3, 3);
}



.user-input2 {
    @include posicion-relative(0.8rem, 0, 5rem, 0,);
    @include flex-center;
}

#user-input2{
    color: rgb(129, 129, 129);
    position: absolute;
    top: 1rem;
    transform: translateY(-50%);
}

.input2 {
    @include flex-center;
    width: calc(100% - 8rem);
    height: 2.5rem;
    padding: 0.6rem 1rem 0.6rem 2ch; 
    /* background-color: $input; */
    background: transparent;
    border: 0.15rem solid $fill;
    font-size: 1.5em;
    outline: none; /* Remove highlight border on selection */
    font-weight: 600;
    border-radius: 1.8rem;
    letter-spacing: 1.8rem;
    text-align: center;

    &:focus{
        /* border: 0.1rem solid rgb(87, 5, 5); */
        background-color: $input;
        
    }
}