input {
    @include flex-center;
    width: calc(100% - 4rem);
    height: 1.5rem;
    padding: 0.6rem 1rem 0.6rem 2.6rem; 
    background-color: $input2;
    /* background-color: transparent; */
    border: none;
    font-size: 0.5em;
    outline: none; /* Elimina el borde de resaltado al seleccionar */ 
    font-weight: 600;
    border-radius: 0.3rem;
}

.user-input {
    @include posicion-relative(0.8rem, 0, 4rem, 0);
    @include flex-center;
}

.password {
    @include posicion-relative(0.8rem, 0, 3rem, 0);
    @include flex-center;
}
  
#user-input{
    @include posicion-absolute(1rem, 0.2rem, -50%);
    background-color: $input;
    color: $fill2;
}

#password {
    @include posicion-absolute(1rem, 0.2rem, -50%);
    background-color: $input;
    color: $fill2;
}

.icon {
    position: absolute;
    left: 0.1rem;
    font-size: 1.5rem;
    color: $fill;
    cursor: pointer;
    margin: 0 1rem 0 0.6rem;
}