.general-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 10% 0 20%;
}

.boxed-data {
  background-color: #333333;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 30%;
}

.boxed-data i {
  font-size: 24px;
  margin-right: 10px;
}

.boxed-data p {
  margin: 0;
}

.chart-container {
  background-color: rgba(245, 236, 183, 0.96);
  padding: 20px;
  margin: 0 10% 0 20%;
}

.body_wrapper {
  margin: 0 10%;
  width: 70vw;
  height: auto;
  overflow: hidden;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 100%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.content-table thead tr {
  background-color: #00ab88;
  color: #000000;
  text-align: center;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
  font-size: 1.1rem;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.buttonGreen {
  padding: 1rem 1.4rem;
  border: 0;
  transition: all 150ms ease-in-out;
  border-radius: 14px;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.07) 0 1px 1px, rgba(0, 0, 0, 0.07) 0 2px 2px, rgba(0, 0, 0, 0.07) 0 4px 4px;
  color: #000000;
  font-weight: 600;
  background-image: linear-gradient(180deg, #33862f 0%, #33862f 100%);
}

.buttonRed {
  padding: 1rem 1.4rem;
  border: 0;
  transition: all 150ms ease-in-out;
  border-radius: 14px;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.07) 0 1px 1px, rgba(0, 0, 0, 0.07) 0 2px 2px, rgba(0, 0, 0, 0.07) 0 4px 4px;
  color: #000000;
  font-weight: 600;
  background-image: linear-gradient(180deg, #af323e 0%, #af323e 100%);
}

.buttonBlue {
  padding: 1rem 1.4rem;
  border: 0;
  transition: all 150ms ease-in-out;
  border-radius: 14px;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.07) 0 1px 1px, rgba(0, 0, 0, 0.07) 0 2px 2px, rgba(0, 0, 0, 0.07) 0 4px 4px;
  color: #000000;
  font-weight: 600;
  background-image: linear-gradient(180deg, #0f40c8 0%, #0d4cb1 100%);
}

.buttonGreen:hover , .buttonRed:hover , .buttonBlue:hover {
  filter: brightness(0.8);
  transform: scale(.95);
  cursor: pointer;
}

.adminMenu{
  color: inherit;
  display: grid;

  &-modal {
    background-color: $section-font;
    border: 1px solid $font_w1;
    margin-top: 20px;
    width: 80%;
  }

  &-showpost {
    text-align: left;
    width: 100%;
  }
  
  &-show {
    padding: 20px;
    border-radius: 10px;
    max-width: 90%;
    box-shadow: 0 0 5px $font_w2;
    color: $font_b4;
    margin: 20px auto;
    animation: aparecer 1s ease forwards; 
  }
  
  &-header {
    align-items: center;
    display: flex;
    padding: 10px 0;

    img {
      border-radius: 50%;
      height: 50px;
      width: 50px;
    }

    h4 {
      font-size: 2rem;
      text-align: left;
    }

    p {
      font-size: 1.5rem;
      text-align: left;
    }
  }
}