
@include mobile {
  .container {
    margin-left: 0;
    flex-direction: column-reverse;
  }
}

main {
  margin-top: px(12);
  flex: 57%;
  margin-left: 13%;
  text-align: center; 

  @include mobile {
      flex: 1;
      margin-left: 0;
  } 
}
//part of chats
.chats {
  margin-top: px(12);
  flex: 20%;
  text-align: center;
  color: $font_w1;
  
  @include mobile {
    flex: 1;
    margin-left: 0;
  }
}
