$fondo: #262525;
header {
    height: 80px;
    background-color: #262525;
    color: #fff;
    border-radius: 10px 0px 10px 10px;
    box-shadow: 15%;
  }
span .material-symbols-outlined {
  font-variation-settings:
  'FILL' 40,
  'wght' 400,
  'GRAD' 40,
  'opsz' 50
}
