@use'header';
@use'nav';
@import 'config'; //paleta de colores

body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: $fondo;
    font-family: 'Almarai', sans-serif;
    color: white;
}
.container{
    height: 100%;
    display: grid;

    .chats{
        background-color: #262525;
        height: 100%;
    }
}
