.user-input {
    position: relative;

    .icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    color: $font_w;
    }
}

.input:focus + .form_label,
.input:not(:placeholder-shown) + .form_label {
    transform: translateY(-35px) scale(1.1);
    transform-origin: left top;
    color: $font_w;
    font-weight: 600;
}

.form_label {
    color: $font_w;
    cursor: pointer;
    position: absolute;
    top: 30px;
    left: 9px;
    transform: translateY(10px);
    transition: transform .5s, $font_w.3s;
    font-size: 15px;
}

.input {
    width: 100%;
    height: 55px;
    padding: 0 15px;
    margin: 20px 0;
    color: $font_w;
    background: $inputRegis;
    border: none;
    border-radius: 10px;
    outline: none;
    backdrop-filter: blur(20px);
    box-shadow: $shadowVeri;
    font-size: 17px;
    font-weight: 600;
    font-family: $font_family_inputs;

    &__pswdWeak {
        background-color: rgba(211, 12, 12, 0.486);
    }
    &__pswdMedium {
        background-color: rgba(236, 240, 22, 0.486);
    }
    &__pswdStrong {
        background-color: rgba(81, 182, 14, 0.651);
    }
    &__pswdnotMatch {
        background-color: rgba(211, 12, 12, 0.486);
    }
    &__pswdMatch { 
        background-color: rgba(81, 182, 14, 0.651);
    }
}

//verify
.inputs {
    width: 12.8%;
    height: 56px;
<<<<<<< HEAD
    text-align: center;
    border: none;
    background: $inputveri;
=======
    /* width: 56px;
    height: 56px; */
    text-align: center;
    border: none;
    background: #0000001e;
>>>>>>> 3a25165 (user form design)
    margin: 0 0.35rem 1.5rem 0;
    border-radius: 0.3rem;
    font-size: 1.8em;
    color: $font_w;

    &:focus {
        background-color: $green1;
        border: 0.1rem solid $green2;
        outline: none;
    }

    &::placeholder {
<<<<<<< HEAD
        color: $veriHover;
=======
        color: rgba(0, 0, 0, 0.226);
>>>>>>> 3a25165 (user form design)
    }
}
