header {
  height: 60px;
  background-color: #262525;
  color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
}

.menu {
  font-size: 30px !important;
  margin-left: 20px;
}

nav {
  position: fixed;
  width: 15%;
  height: 100%;
  min-width: 120px;
  background-color: #262525;
}
nav .div {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ccc;
}
nav .icons {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
}
nav .icons .category {
  position: relative;
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.3s, color 0.3s;
}
nav .icons .category:hover {
  background-color: white;
  color: #000;
}
nav .icons a {
  text-decoration: none;
  color: inherit;
}
nav .icons a li {
  border: solid 1px white;
  border-radius: 15%;
}
nav .icons span {
  margin-right: 10px;
}
@media (max-width: 1250px) {
  nav .icons .category {
    font-size: 0.8em;
  }
}
@media (max-width: 800px) {
  nav .icons {
    display: none;
  }
}

.subcategories {
  display: none;
  position: absolute;
  width: 200px;
  top: 0;
  left: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #262525;
  flex-direction: column;
  z-index: 1;
}

.subcategories .subcategory {
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}

.subcategories .subcategory:hover {
  background-color: white;
  color: green;
}

.subcategories a {
  text-decoration: none;
  color: inherit;
}

.subcategories span {
  margin-right: 10px;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  font-family: "Almarai", sans-serif;
  color: white;
}

.container {
  height: 100%;
  display: grid;
}
.container .chats {
  background-color: #262525;
  height: 100%;
}