//colores

//whites
$font_w: white;
$font_w1: #ccc;
$font_w2:rgb(177, 157, 157);

//blacks:
$font_b: black;
$font_b1: #1B1717;
$font_b2: #262525;
$font_b3: #000;

$col_red: red;
$theme_blue: #06138a;


//border
$sol: solid;

//box_shadow
$bor_fond: rgba(0, 0, 0, 0.5);

//alineaciones
$ali_left: left;
$ali_center: center;
$ali_ini: right;
$ali_auto: auto;
$po_rela: relative;
$po_abs: absolute;

//columnas_filas
$fix: fixed;
$fila: flex;
$solid: block;
$colu: column;
$colu_rev: column-reverse;

//cursor
$poit: pointer;

//px
$p1: 10px;
$p1_5: 15px;
$p2: 20px;
$p2_5:25px;
$p3:30px;
$p3_5: 35px;
$p4: 40px;
$p4_5:45px;
$p5:50px;
$p5_5:55px;
$p6: 60px;

//vacio
$no: none;