/* body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: $font_b1;
  font-family: 'Almarai', sans-serif;
}

.container {
  height: 100%;
  display: flex;
  color: $font_w1;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  color: $font_w;
} */
body {
  /* background: linear-gradient(to right, $background1, $background2); */
  background-image: url(./../../resources/img/login_fondo.svg);
  background-size: cover;
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content2 {
  margin: 2.5rem;
  height: 87vh;
  width: 78%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  color: white;
  border: 0.05rem solid rgb(129, 129, 129);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  background-color: #080808;
}

.present {
  height: 18rem;
  order: 1;
}

.left {
  flex: 0.7;
  padding: 2rem;
  display: grid;
  align-items: center;
  justify-content: center;
}

.right {
  flex: 0.5;
  border-radius: 2rem;
  display: grid;
  align-items: center;
  justify-content: center;
}
.right .box2 {
  font-size: 2em;
  display: grid;
  align-items: center;
  justify-content: center;
}
.right .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
  color: white;
  order: 3;
}

img {
  height: 4.2rem;
}

.new {
  color: #93F9B9;
  margin-left: 0.5rem;
  cursor: pointer;
  text-decoration: none;
}
.new:hover {
  color: white;
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-small {
  display: grid;
  justify-content: right;
  margin: 0 0 2rem 0;
}
.box-small .forgot {
  text-decoration: none;
  color: rgb(177, 157, 157);
  font-size: 0.6em;
  cursor: pointer;
}
.box-small .forgot:hover {
  color: #93F9B9;
}

.btn-sign {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16rem;
  height: 2.8rem;
  border-radius: 0.3rem;
  font-size: 0.5em;
  cursor: pointer;
  font-weight: 500;
  background-color: #93F9B9;
  color: black;
  font-weight: 600;
  border: none;
}
.btn-sign:hover {
  background-color: white;
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(177, 157, 157);
  font-size: 1rem;
  margin: 0.5rem 0;
}

.greeting {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slogan {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  order: 0;
  color: white;
}

.label {
  color: rgb(177, 157, 157);
  background: none;
  margin: 0;
  font-size: 0.7em;
}

.login_sp {
  order: 3;
}

.principal {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive */
@media only screen and (max-width: 1250px) {
  .content2 {
    display: grid;
    height: 75vh;
    flex-direction: column;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
  }
  .present {
    height: 10rem;
    display: flex;
    order: 1;
  }
  .slogan {
    order: 0;
    display: flex;
  }
  .left {
    display: none;
  }
  .box2 {
    transform: scale(1);
  }
}
@media only screen and (max-width: 800px) {
  .content {
    display: grid;
    height: 60vh;
    transform: scale(1.2);
    flex-direction: column;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
  }
  .present {
    height: 10rem;
    display: flex;
  }
  .slogan {
    order: 0;
  }
  .present {
    order: 1;
  }
  .left {
    display: none;
    padding: 0;
  }
  .box {
    transform: scale(0.7);
  }
  .register {
    font-size: 0.9rem;
  }
}
.fondo {
  margin: 2.5rem;
  height: 87vh;
  width: 78%;
  display: flex;
  border-radius: 1rem;
  color: white;
  /* border: 0.05rem solid $fill2; */
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  background-color: #080808;
}

.back {
  padding: 2rem 0 0 2rem;
  font-size: 2em;
  cursor: pointer;
  position: absolute;
}
.back:hover {
  color: #93F9B9;
}

.left {
  flex: 0.7;
  padding: 2rem;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: rgb(18, 18, 18);
  border-radius: 1rem 0 0 1rem;
}

.right {
  flex: 0.5;
  border-radius: 2rem;
  display: grid;
  align-items: center;
  justify-content: center;
}
.right .box3 {
  font-size: 2em;
  display: grid;
  align-items: center;
  justify-content: center;
}
.right .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
  color: white;
  order: 3;
}

.slogan2 {
  font-size: 1.5rem;
  order: 0;
  color: white;
}

img {
  height: 4.2rem;
}

.new {
  color: #93F9B9;
  margin-left: 0.5rem;
  cursor: pointer;
  text-decoration: none;
}
.new:hover {
  color: white;
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-small {
  display: grid;
  justify-content: right;
  margin: 0 0 2rem 0;
}
.box-small .forgot {
  text-decoration: none;
  color: rgb(177, 157, 157);
  font-size: 0.6em;
  cursor: pointer;
}
.box-small .forgot:hover {
  color: #93F9B9;
}

.registrate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13rem;
  height: 2.8rem;
  border-radius: 0.3rem;
  font-size: 1em;
  cursor: pointer;
  font-weight: 500;
  background-color: #93F9B9;
  color: black;
  font-weight: 600;
  border: none;
  justify-content: center;
}
.registrate:hover {
  background-color: white;
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(177, 157, 157);
  font-size: 1rem;
  margin: 0.5rem 0;
}

.greeting {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.instruc {
  font-size: 1.5rem;
  order: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  color: rgb(177, 157, 157);
  background: none;
  margin: 0;
  font-size: 0.7em;
}

.login_sp {
  order: 3;
}

.principal2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.present2 {
  height: 28.5rem;
  order: 1;
}

header {
  height: 60px;
  background-color: #262525;
  color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: fixed;
  width: 100%;
  transition: top 0.3s;
  display: flex;
  align-items: center;
}

.menu {
  font-size: 35px;
  margin-left: 20px;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .container {
    margin-left: 0;
    flex-direction: column-reverse;
  }
}
main {
  margin-top: 60px;
  flex: 57%;
  margin-left: 13%;
  text-align: center;
}
@media only screen and (max-width: 800px) {
  main {
    flex: 1;
    margin-left: 0;
  }
}

.chats {
  margin-top: 60px;
  flex: 20%;
  text-align: center;
  color: #ccc;
}
@media only screen and (max-width: 800px) {
  .chats {
    flex: 1;
    margin-left: 0;
  }
}

.box {
  padding: 20px;
  border-radius: 25px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  max-width: 80%;
  color: white;
  text-align: center;
  margin: 20px auto;
}

.user {
  display: flex;
  align-items: center;
  font-size: 20px;
}
.user .profile {
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.user .profile:hover {
  color: #06138a;
}

.date {
  font-size: 15px;
  margin-left: 10px;
  color: #ccc;
}

.line {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.text {
  text-align: left;
}
.text p {
  font-size: 18px;
}

@media only screen and (max-width: 800px) {
  .hidden {
    display: none;
  }
}
.box .text p.read-less-btn {
  display: none;
}

@media (min-width: 800px) {
  .text p.hidden_ {
    display: none;
  }
}
.image img {
  max-width: 100%;
  height: auto;
  border-radius: 25px;
}

.actions {
  display: flex;
  align-items: center;
  font-size: 20px;
}
.actions p {
  margin-right: 15px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.actions p:hover {
  color: #06138a;
}

nav {
  z-index: 1;
  margin-top: 60px;
  position: fixed;
  width: 13%;
  height: 100%;
  background-color: #262525;
  color: #ccc;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
  font-size: 20px;
}
nav .line {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ccc;
}
nav .icons {
  color: #ccc;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
}
nav .icons a {
  color: #ccc;
  text-decoration: none;
}
nav .icons a .category {
  position: relative;
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  color: #ccc;
}
nav .icons a .category:hover {
  background-color: white;
  color: black;
}
nav .icons a span {
  margin-right: 15px;
}
nav .icons .categories {
  position: relative;
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  color: #ccc;
}
nav .icons .categories:hover {
  background-color: white;
  color: black;
}

@media only screen and (max-width: 1250px) {
  nav {
    font-size: 13px;
  }
}
@media only screen and (max-width: 800px) {
  nav {
    width: 100%;
    height: 35%;
    position: fixed;
    top: 0;
  }
  .category p {
    margin: 0;
    font-size: 20px;
  }
  .line {
    display: flex;
    align-items: center;
    padding: 6px;
    border-top: 1px solid #ccc;
  }
}
.hide-nav {
  width: 4%;
}
.hide-nav .icons .category {
  padding-top: 10px;
}
.hide-nav .icons .material-symbols-outlined {
  font-size: 40px;
}
.hide-nav .icons p, .hide-nav .icons .line, .hide-nav .icons .categories {
  display: none;
}
@media only screen and (max-width: 800px) {
  .hide-nav {
    display: none;
  }
}

.subcategories {
  display: none;
  position: absolute;
  width: 200px;
  top: 0;
  left: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #262525;
  flex-direction: column;
  z-index: 1;
}

.subcategories .subcategory {
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}

.subcategories .subcategory:hover {
  background-color: white;
  color: green;
}

.subcategories a {
  text-decoration: none;
  color: inherit;
}

.subcategories span {
  margin-right: 10px;
}

input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 4rem);
  height: 1.5rem;
  padding: 0.6rem 1rem 0.6rem 2.6rem;
  background-color: rgb(19, 19, 19);
  border: none;
  font-size: 0.5em;
  outline: none; /* Remove highlight border on selection */
  font-weight: 600;
  border-radius: 0.3rem;
}

.user-input {
  position: relative;
  margin: 0.8rem 0 4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.password {
  position: relative;
  margin: 0.8rem 0 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#user-input {
  position: absolute;
  top: 1rem;
  left: 0.2rem;
  transform: translateY(-50%);
  background-color: rgb(25, 25, 25);
  color: rgb(129, 129, 129);
}

#password {
  position: absolute;
  top: 1rem;
  left: 0.2rem;
  transform: translateY(-50%);
  background-color: rgb(25, 25, 25);
  color: rgb(129, 129, 129);
}

.icon {
  position: absolute;
  left: 0.1rem;
  font-size: 1.5rem;
  color: rgb(70, 68, 68);
  cursor: pointer;
  margin: 0 1rem 0 0.6rem;
}