body {
  background-image: url(./../../resources/img/background_prin.svg);
  background-size: cover;
  background-color: #1f381c;
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.container {
  margin: 2.5rem;
  height: 89vh;
  width: 80%;
  display: grid;
  border-radius: 1rem;
  border: 0.2rem solid #fcf9ea;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  gap: 0;
  grid-template-columns: 3fr 2fr;
  background-color: rgba(245, 236, 183, 0.96);
}

.left {
  padding: 1rem;
  display: grid;
  align-items: center;
  justify-content: center;
}

.right {
  border-radius: 0 0.9rem 0.9rem 0;
  display: grid;
  align-items: center;
  justify-content: center;
}

.img {
  width: 98%;
  height: 100%;
  border-radius: 0.5rem;
}

.new {
  color: white;
  margin-left: 0.5rem;
  cursor: pointer;
  text-decoration: none;
  font-weight: 800;
}
.new:hover {
  color: white;
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-small {
  position: relative;
  display: grid;
  justify-content: right;
  margin: 0 0 1rem 0;
  top: -1.5rem;
}
.box-small .forgot {
  text-decoration: none;
  color: #673b1c;
  font-size: 1.2em;
  cursor: pointer;
  font-weight: 400;
}
.box-small .forgot:hover {
  color: #3b1e0d;
  -webkit-text-decoration: 0.1rem solid underline;
          text-decoration: 0.1rem solid underline;
  font-weight: 600;
}

.btn-sign {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16rem;
  height: 2.8rem;
  border-radius: 0.3rem;
  font-size: 1em;
  cursor: pointer;
  font-weight: 600;
  background-color: #78461b;
  color: white;
  border: none;
  margin: 0 0 1.5rem 0;
}
.btn-sign:hover {
  color: white;
  background-color: #3b1e0d;
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(177, 157, 157);
  font-size: 1rem;
  margin: 0.5rem 0;
}

.principal {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 3rem;
  border-radius: 2rem;
}

* {
  padding: 0;
  margin: 0;
}

.back {
  font-size: 2em;
  cursor: pointer;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  color: white;
}
.back:hover {
  color: white;
}

.slogan {
  font-size: 1.5em;
  order: 0;
  color: #905818;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 0 1.8rem 0;
  font-weight: 600;
}

.new {
  color: white;
  margin-left: 0.5rem;
  cursor: pointer;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #78461b;
}
.new:hover {
  background-color: transparent;
  color: #78461b;
  border: 0.1rem solid #78461b;
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #905818;
  font-size: 1rem;
  margin: 0.5rem 0;
}

.option2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 1rem 0;
}

.signup {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.8rem;
  border-radius: 0.5rem;
  font-size: 1em;
  width: 22rem;
  max-width: 90%;
  cursor: pointer;
  font-weight: 600;
  background-color: #78461b;
  color: white;
}
.signup:hover {
  color: white;
  background-color: #3b1e0d;
}

.btn-create {
  display: flex;
  justify-content: center;
  align-items: center;
}

#message {
  position: absolute;
  bottom: -20px;
  color: white;
  font-size: 15px;
  display: none;
  font-weight: 800;
}

#nomessage {
  position: absolute;
  bottom: -20px;
  color: white;
  font-size: 15px;
  font-weight: 800;
  display: none;
}

#emailmsg {
  position: absolute;
  bottom: -20px;
  color: white;
  font-size: 15px;
  font-weight: 800;
  display: none;
}

.code_verify {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  width: 30rem;
  height: 25rem;
  background-color: rgba(245, 236, 183, 0.96);
  border: 0.2rem solid #fcf9ea;
  border-radius: 0.9rem;
  padding: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.verify {
  width: 16rem;
  letter-spacing: 0.1rem;
  margin: 0.3rem 0 0 0;
  padding: 0.8rem 0.5rem;
  border-radius: 8px;
  border: none;
  background-color: #0cb162;
  color: #fcf9ea;
  cursor: pointer;
  font-weight: 600;
  font-size: 1em;
  justify-content: center;
}
.verify:hover {
  background-color: #076336;
}

.title {
  font-size: 2em;
  font-weight: 700;
}

.resend_code {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #929292;
  font-size: 1rem;
  margin: 0.1rem 0;
}

.resend {
  text-decoration: none;
  color: #0cb162;
  font-weight: 600;
  padding-left: 0.2rem;
}
.resend:hover {
  color: #076336;
}

.warning {
  color: #929292;
}

.confirm {
  margin: 0.5rem 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.codever {
  height: 6rem;
}

header {
  height: 60px;
  background-color: #262525;
  color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: fixed;
  width: 100%;
  transition: top 0.3s;
  display: flex;
  align-items: center;
}

.menu {
  font-size: 35px;
  margin-left: 20px;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .container {
    margin-left: 0;
    flex-direction: column-reverse;
  }
}
main {
  margin-top: 60px;
  flex: 57%;
  margin-left: 13%;
  text-align: center;
}
@media only screen and (max-width: 800px) {
  main {
    flex: 1;
    margin-left: 0;
  }
}

.chats {
  margin-top: 60px;
  flex: 20%;
  text-align: center;
  color: #ccc;
}
@media only screen and (max-width: 800px) {
  .chats {
    flex: 1;
    margin-left: 0;
  }
}

.box {
  padding: 20px;
  border-radius: 25px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  max-width: 80%;
  color: white;
  text-align: center;
  margin: 20px auto;
}

.user {
  display: flex;
  align-items: center;
  font-size: 20px;
}
.user .profile {
  cursor: pointer;
  /* transition: $tr;  */
}
.user .profile:hover {
  color: #1f381c;
}

.date {
  font-size: 15px;
  margin-left: 10px;
  color: #ccc;
}

.line {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.text {
  text-align: left;
}
.text p {
  font-size: 18px;
}

@media only screen and (max-width: 800px) {
  .hidden {
    display: none;
  }
}
.box .text p.read-less-btn {
  display: none;
}

@media (min-width: 800px) {
  .text p.hidden_ {
    display: none;
  }
}
.images img {
  max-width: 100%;
  height: auto;
  border-radius: 25px;
}

.actions {
  display: flex;
  align-items: center;
  font-size: 20px;
}
.actions p {
  margin-right: 15px;
  cursor: pointer;
  /* transition: $tr; */
}
.actions p:hover {
  color: #1f381c;
}

nav {
  z-index: 1;
  margin-top: 60px;
  position: fixed;
  width: 13%;
  height: 100%;
  background-color: #262525;
  color: #ccc;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
  font-size: 20px;
}
nav .line {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ccc;
}
nav .icons {
  color: #ccc;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
}
nav .icons a {
  color: #ccc;
  text-decoration: none;
}
nav .icons a .category {
  position: relative;
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  /* transition: $tr;  */
  color: #ccc;
}
nav .icons a .category:hover {
  background-color: white;
  color: black;
}
nav .icons a span {
  margin-right: 15px;
}
nav .icons .categories {
  position: relative;
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  /* transition: $tr; */
  color: #ccc;
}
nav .icons .categories:hover {
  background-color: white;
  color: black;
}

@media only screen and (max-width: 1250px) {
  nav {
    font-size: 13px;
  }
}
@media only screen and (max-width: 800px) {
  nav {
    width: 100%;
    height: 35%;
    position: fixed;
    top: 0;
  }
  .category p {
    margin: 0;
    font-size: 20px;
  }
  .line {
    display: flex;
    align-items: center;
    padding: 6px;
    border-top: 1px solid #ccc;
  }
}
.hide-nav {
  width: 4%;
}
.hide-nav .icons .category {
  padding-top: 10px;
}
.hide-nav .icons .material-symbols-outlined {
  font-size: 40px;
}
.hide-nav .icons p, .hide-nav .icons .line, .hide-nav .icons .categories {
  display: none;
}
@media only screen and (max-width: 800px) {
  .hide-nav {
    display: none;
  }
}

.subcategories {
  display: none;
  position: absolute;
  width: 200px;
  top: 0;
  left: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #262525;
  flex-direction: column;
  z-index: 1;
}

.subcategories .subcategory {
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  /* transition: $tr; */
}

.subcategories .subcategory:hover {
  background-color: white;
  /* color: $font_g; */
}

.subcategories a {
  text-decoration: none;
  color: inherit;
}

.subcategories span {
  margin-right: 10px;
}

.user-input {
  width: 19rem;
  max-width: 90%;
  position: relative;
  margin: 0 0 2.2rem 0;
}
.user-input .input {
  width: 100%;
  height: 50px;
  padding: 0 1rem 0 3rem;
  border: 0.13rem solid #905818;
  outline: none;
  color: #905818;
  background-color: rgba(221, 221, 221, 0.2941176471);
  border-radius: 1rem;
  font-size: 1.1rem;
  font-weight: 600;
}
.user-input ::-moz-placeholder {
  font-size: 1rem;
  color: #b4791a;
  font-weight: 600;
}
.user-input ::placeholder {
  font-size: 1rem;
  color: #b4791a;
  font-weight: 600;
}

.icon {
  border: 0;
  outline: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
  color: #b4791a;
}

.inputs {
  width: 3.5rem;
  height: 3.5rem;
  text-align: center;
  border: none;
  border-bottom: 1.5px solid #d2d2d2;
  background: rgba(0, 0, 0, 0.0745098039);
  margin: 0 0.35rem 1.5rem 0;
  border-radius: 0.3rem;
  font-size: 1.8em;
}
.inputs:focus {
  background-color: rgba(12, 177, 97, 0.2039215686);
  border: 0.1rem solid #0cb162;
  outline: none;
}
.inputs::-moz-placeholder {
  color: rgba(0, 0, 0, 0.156);
}
.inputs::placeholder {
  color: rgba(0, 0, 0, 0.156);
}

.alert {
  /* background-color: $red_dark; */
  height: 2.5rem;
  display: flex;
  justify-content: left;
  align-items: center;
  /* border-left: 0.5rem solid rgb(119, 9, 9); */
  /* border: 0.1rem solid $col_red; */
  /* color: rgb(211, 12, 12); */
  /* color: $col_red; */
  border-radius: 1rem;
  margin: 0 0 0.9rem 0;
  padding: 0 0 0 0.5rem;
  font-weight: 700;
  font-size: 1.1em;
  width: 16.5rem;
}

.alert-success {
  height: 2rem;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #081a43;
  border: 0.2rem solid rgb(102, 141, 214);
  color: #d0d0d0;
  border-radius: 0.5rem;
  margin: 0 0 2rem 0;
  padding: 0.9rem;
  font-weight: 700;
  font-size: 1.3em;
  width: 24rem;
  /* border-left: 0.5rem solid rgb(9, 214, 108);
  color: #d0d0d0;
  background-color: #084327; */
}

.alert2 {
  /* background-color: $red_dark; */
  height: 2.5rem;
  display: flex;
  justify-content: left;
  align-items: center;
  /* border-left: 0.5rem solid rgb(119, 9, 9); */
  /* border: 0.1rem solid $col_red; */
  /* color: $col_red; */
  border-radius: 1rem;
  margin: 0 0 1.5rem 0;
  padding: 0 0 0 0.5rem;
  font-weight: 700;
  font-size: 1.1em;
  width: 20.5rem;
}

.icon-alert {
  margin: 0 1rem 0 0;
  color: 0.5rem solid rgb(9, 214, 108);
}