@charset "UTF-8";
@keyframes shake {
  0% {
    transform: translateX(-5px) rotate(-5deg);
  }
  25% {
    transform: translateX(5px) rotate(5deg);
  }
  50% {
    transform: translateX(-5px) rotate(-5deg);
  }
  75% {
    transform: translateX(5px) rotate(5deg);
  }
  100% {
    transform: translateX(-5px) rotate(-5deg);
  }
}
@keyframes moveBackground {
  from {
    background-position: 0 0;
  } /* Posición inicial */
  to {
    background-position: 100% 100%;
  } /* Posición final */
}
@keyframes aparecer {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
* {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Almarai", sans-serif;
  background-image: url(./../../resources/img/background_prin.svg);
  background-size: cover;
  background-color: #076336;
  background-attachment: fixed;
  animation: moveBackground 50s infinite linear;
}

.container {
  height: 100%;
  display: flex;
  color: #0c0a0a;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.user-view-wrapper {
  background-image: url(./../../resources/img/background_prin.svg);
  background-size: cover;
  background-color: #076336;
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.user-view-container {
  margin: 2.5rem;
  height: 89vh;
  width: 80%;
  display: grid;
  border-radius: 1rem;
  border: 0.2rem solid #d8dfd9;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  gap: 0;
  grid-template-columns: 3fr 2fr;
  background-color: rgba(245, 236, 183, 0.96);
}

.left {
  padding: 1rem;
  display: grid;
  align-items: center;
  justify-content: center;
}

.right {
  border-radius: 0 0.9rem 0.9rem 0;
  display: grid;
  align-items: center;
  justify-content: center;
}

.img {
  width: 98%;
  height: 100%;
  border-radius: 0.5rem;
}

.new {
  color: white;
  margin-left: 0.5rem;
  cursor: pointer;
  text-decoration: none;
  font-weight: 800;
}
.new:hover {
  color: white;
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-small {
  position: relative;
  display: grid;
  justify-content: right;
  margin: 0 0 1rem 0;
  top: -1.5rem;
}
.box-small .forgot {
  text-decoration: none;
  color: #673b1c;
  font-size: 1.2em;
  cursor: pointer;
  font-weight: 400;
}
.box-small .forgot:hover {
  color: #3b1e0d;
  -webkit-text-decoration: 0.1rem solid underline;
          text-decoration: 0.1rem solid underline;
  font-weight: 600;
}

.btn-sign {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16rem;
  height: 2.8rem;
  border-radius: 0.3rem;
  font-size: 1em;
  cursor: pointer;
  font-weight: 600;
  background-color: #78461b;
  color: white;
  border: none;
  margin: 0 0 1.5rem 0;
}
.btn-sign:hover {
  color: white;
  background-color: #3b1e0d;
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(177, 165, 165);
  font-size: 1rem;
  margin: 0.5rem 0;
}

.principal {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 3rem;
  border-radius: 2rem;
}

.back {
  font-size: 2em;
  cursor: pointer;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  color: white;
}
.back:hover {
  color: white;
}

.slogan {
  font-size: 1.5em;
  order: 0;
  color: #905818;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 0 1.8rem 0;
  font-weight: 600;
}
.slogan h2 {
  color: #905818;
}

.new {
  color: white;
  margin-left: 0.5rem;
  cursor: pointer;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #78461b;
}
.new:hover {
  background-color: transparent;
  color: #78461b;
  border: 0.1rem solid #78461b;
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #905818;
  font-size: 1rem;
  margin: 0.5rem 0;
}

.option2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 1rem 0;
}

.signup {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.8rem;
  border-radius: 0.5rem;
  font-size: 1em;
  width: 22rem;
  max-width: 90%;
  cursor: pointer;
  font-weight: 600;
  background-color: #78461b;
  color: white;
}
.signup:hover {
  color: white;
  background-color: #3b1e0d;
}

.btn-create {
  display: flex;
  justify-content: center;
  align-items: center;
}

#message {
  position: absolute;
  bottom: -20px;
  color: white;
  font-size: 15px;
  display: none;
  font-weight: 800;
}

#nomessage {
  position: absolute;
  bottom: -20px;
  color: white;
  font-size: 15px;
  font-weight: 800;
  display: none;
}

#emailmsg {
  position: absolute;
  bottom: -20px;
  color: white;
  font-size: 15px;
  font-weight: 800;
  display: none;
}

.code_verify {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  width: 35%;
  height: 50%;
  background-color: rgba(245, 236, 183, 0.96);
  border: 0.2rem solid #d8dfd9;
  border-radius: 0.9rem;
  padding: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.verify {
  width: 16rem;
  letter-spacing: 0.1rem;
  margin: 0.3rem 0 1rem;
  padding: 0.8rem 0.5rem;
  border-radius: 8px;
  border: none;
  background-color: #0cb162;
  color: #d8dfd9;
  cursor: pointer;
  font-weight: 600;
  font-size: 1em;
  justify-content: center;
}
.verify:hover {
  background-color: #076336;
}

.title {
  font-size: 2em;
  font-weight: 700;
}

.resend_code {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #929292;
  font-size: 1rem;
  margin: 0.1rem 0;
}

.resend {
  text-decoration: none;
  color: #0cb162;
  font-weight: 900;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: monospace;
  padding-left: 0.2rem;
  font-size: 1.2rem;
}
.resend:hover {
  color: #076336;
}

.warning {
  color: #929292;
}

.confirm {
  margin: 0.5rem 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.codever {
  height: 6rem;
}

.first-main {
  margin-left: 17rem;
}

.state {
  display: grid;
  height: auto; /* Altura del contenedor */
  width: 100%;
  justify-content: center;
}
.state .cover-profile {
  display: flex;
  width: 80rem;
  height: 20rem;
  background: url(./../../resources/img/cover_profile.jpg);
  background-size: cover;
  border-radius: 1rem;
}

.state2 {
  display: grid;
  height: auto; /* Altura del contenedor */
  width: 100%;
  justify-content: center;
  top: -4rem;
  position: relative;
}
.state2 .info-user {
  display: grid;
  height: 12.5rem;
  width: 70rem;
  position: relative;
  background-color: white;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  padding: 1.5rem 1.5rem 0.2rem 1.5rem;
  border-radius: 2rem;
}
.state2 .photo {
  border-radius: 50%;
  width: 10rem;
}
.state2 .data-user {
  color: black;
  display: grid;
  margin: 0 0 0 1rem;
  text-align: left;
}
.state2 .count {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0 0 0;
  text-align: center;
}
.state2 .submenu {
  display: flex;
  justify-content: center;
}
.state2 .submenu .option {
  padding: 0.2rem 1rem;
  margin: 0 1rem 0 0;
}
.state2 .submenu .option:hover {
  cursor: pointer;
  font-weight: 600;
}
.state2 .submenu .option:active {
  border: none;
  border-bottom: 0.2rem solid black;
  color: black;
}
.state2 .position {
  display: flex;
  padding: 0 0 1rem 0;
  align-items: center;
}
.state2 .position .edit-btn {
  justify-content: right;
  display: flex;
  width: 100%;
}
.state2 .btn-conf {
  padding: 0.6rem 1.3rem;
  background-color: white;
  border-radius: 1rem;
  border: 0.15rem solid rgb(128, 128, 128);
  font-size: 1rem;
  font-weight: 600;
  color: #777777;
}
.state2 .btn-conf:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.state2 {
  display: grid;
  /* grid-template-rows: auto auto; /* Esto dividirá el contenedor en dos filas de tamaño automático * */
  /* gap: -5rem; /* Espacio entre las filas * */
  height: 10rem; /* Altura del contenedor */
  width: 100%;
  justify-content: center;
}

.profile {
  display: grid;
  grid-template-columns: 1fr 2fr; /* Esto dividirá el contenedor en dos columnas de tamaño automático */
  gap: 2rem; /* Espacio entre las columnas */
  width: 60rem; /* Anchura del contenedor */
  margin: 2rem 0 0 0;
  height: auto;
  justify-content: center;
}
.profile .hobbies {
  height: auto;
}
.profile .hobbies .info {
  background-color: white;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  border-radius: 0.5rem;
  padding: 1.5rem 2rem;
  text-align: left;
}
.profile .hobbies .info .datas {
  margin: 1.5rem 0 0 0;
  color: rgb(150, 150, 150);
  display: grid;
}
.profile .hobbies .info .datas .sh {
  margin: 0 0 1rem 0;
}
.profile .hobbies .info .datas .sh .sh-icon {
  margin: 0 0.5rem 0 0;
}

.post-container {
  display: none;
}

.nopost-container {
  background-color: white;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  border-left: 0.5rem solid #78461b;
  height: 10rem;
  padding: 2rem;
}

.add-photo {
  width: 7rem;
  margin: 0 0 0.5rem 0;
}

.enun {
  color: rgb(177, 165, 165);
}

.link {
  padding: 0.5rem;
  color: rgb(150, 150, 150);
  font-weight: 700;
}
.link:hover {
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: rgb(87, 87, 87);
  color: white;
}

.ig {
  color: rgb(150, 150, 150);
}

.caract {
  margin: 0 3rem 0 0;
}

.active {
  border-bottom: 2px solid blue; /* Estilo activo */
}

header {
  height: 75px;
  background-color: black;
  color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 2;
  position: fixed;
  width: 100%;
  transition: top 0.3s;
  display: flex;
  align-items: center;
}
header img {
  width: 50px;
  height: 50px;
}

h2 {
  color: white;
}

.menu {
  font-size: 50px;
  margin-left: 20px;
  cursor: pointer;
  padding-right: 40px;
}

.seeker {
  display: flex;
  align-items: center;
  border-radius: 25px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  color: #ccc;
  background-color: #0c0a0a;
  margin: auto auto auto 15%;
  width: 30%;
}
.seeker > button {
  background-color: #0c0a0a;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.seeker > button > i {
  text-align: center;
  font-size: 25px;
  color: white;
}
.seeker input.cont[type=search] {
  width: 100%;
  flex: 1;
  position: relative;
  outline: none;
  border-radius: 25px;
  color: #ccc;
  background-color: #0c0a0a;
  border: 1px solid #0c0a0a;
  margin: 5px 5px 5px 0;
  font-size: 20px;
}

header .seeker .search {
  margin: 5px 0 0 7px;
  font-size: 25px;
}

@media only screen and (max-width: 800px) {
  .menu {
    padding-right: 0;
  }
  .seeker {
    margin: auto;
  }
}
@media (max-width: 500px) {
  h2 {
    display: none;
  }
}
.login {
  border: 2px solid rgba(255, 255, 255, 0.5);
  color: #ccc;
  background-color: #0c0a0a;
  border-radius: 20px;
  margin-right: 20px;
  padding: 5px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.login a, .login input {
  color: white;
  font-size: 25px;
  margin: 10px;
  text-decoration: none;
}
.login input {
  margin: 0 10px;
  box-shadow: none;
  border: none;
  background-color: transparent;
}
.login:hover {
  background-color: white;
  animation: shake 0.5s ease-in-out infinite;
}
.login:hover > a, .login:hover input {
  color: black;
}

.notifications {
  font-size: 40px;
  color: white;
  cursor: pointer;
}

.user-menu {
  border-radius: 50%;
  background-color: black;
  margin: 10px 30px;
  border: 2px solid white;
  cursor: pointer;
}

.menu-user {
  margin: 75px 0px 10px 87%;
  font-size: 20px;
  position: absolute;
  background-color: rgba(245, 236, 183, 0.96);
  border: 0.5px solid #ccc;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 3;
  display: none;
  border-radius: 5px;
}

.list-user {
  list-style-type: none;
  padding: 0;
  padding: 15px;
}
.list-user .profile-menu {
  display: flex;
}
.list-user .profile-menu .user-information {
  padding: 0px 15px;
  display: block;
}
.list-user .profile-menu .user-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.list-user a {
  padding: 4px;
  cursor: pointer;
}
.list-user a li {
  padding: 5px;
}
.list-user a :hover {
  background-color: #b4791a;
  border-radius: 5px;
}
.list-user li {
  pad: 5px;
}
.list-user li :hover {
  background-color: #b4791a;
  border-radius: 5px;
}
.list-user input[type=submit] {
  border: none;
  font-size: 20px;
  background-color: transparent;
  cursor: pointer;
}
.list-user input[type=submit] :hover {
  background-color: #b4791a;
  border-radius: 5px;
}

.show-user {
  display: block;
}

@media only screen and (max-width: 800px) {
  .container {
    margin-left: 0;
    flex-direction: column-reverse;
  }
}
main {
  margin-top: 60px;
  flex: 56%;
  margin: 78px 25% 0 12%;
  text-align: center;
}
main .main {
  margin: 0 10% 0 20%;
}
@media only screen and (max-width: 1250px) {
  main {
    margin: 70px 30% 0 14%;
  }
  main .main {
    margin: 0 0 0 5%;
  }
}
@media only screen and (max-width: 800px) {
  main {
    margin: 0;
    flex: 1;
  }
  main .main {
    margin-left: 0;
  }
}

.postbox {
  margin-top: 75px;
  position: fixed;
  top: 0; /* Ajusta la posición verticalmente según sea necesario */
  right: 0; /* Ajusta la posición horizontalmente según sea necesario */
  width: 25%; /* Ajusta el ancho del elemento según sea necesario */
  text-align: center;
  color: #ccc;
}
@media only screen and (max-width: 800px) {
  .postbox {
    position: static; /* Vuelve a la posición normal en dispositivos móviles */
    width: 100%; /* Ancho completo en dispositivos móviles */
    margin-left: 0;
  }
}

nav {
  z-index: 1;
  margin-top: 75px;
  position: fixed;
  width: 14%;
  height: 93%;
  overflow-y: auto;
  font-size: 25px;
  box-shadow: 0 0 5px rgb(177, 165, 165);
  background-color: rgba(245, 236, 183, 0.96);
  transition: width 0.3s ease;
  font-family: "Poppins", sans-serif;
}
nav .line {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid black;
}
nav .icons {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
nav .icons a {
  color: black;
  text-decoration: none;
}
nav .icons a > .category {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 13px;
}
nav .icons a > .category i {
  margin-right: 10px;
}
nav .icons a > .category p {
  margin: 0;
}
nav .icons a > .category input[type=submit] {
  background-color: transparent;
  font-size: 20px;
  border: none;
}
nav .icons .categories {
  color: black;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 13px;
  padding: 0;
  margin: 10px;
}
nav .icons .categories p {
  margin: 0;
}
@media only screen and (max-width: 800px) {
  nav .icons .categories p {
    font-size: 20px;
  }
}

.list:hover {
  transition: background-color 0.3s ease;
  background-color: black;
  color: white;
}

@media only screen and (max-width: 1250px) {
  nav {
    font-size: 13px;
  }
  nav .subcategory > p {
    font-size: 13px;
  }
  nav ul.icons .category .categori {
    margin-top: 4px;
  }
}
.category {
  display: flex;
  padding: 0;
  margin-left: 20px;
}
.category p {
  margin: 0;
}
.category .categori {
  margin-top: 7px;
  padding-left: 5%;
}

@media only screen and (max-width: 800px) {
  nav {
    width: 100%;
    height: 35%;
    position: fixed;
    top: 0;
  }
  nav li.category span.cate {
    margin: 0;
  }
  .category > p {
    margin: 0;
    font-size: 20px;
  }
  .line {
    display: flex;
    align-items: center;
    padding: 6px;
    border-top: 1px solid black;
  }
}
.hide-nav {
  width: 80px;
}
.hide-nav .icons .list {
  border-radius: 0;
}
.hide-nav .icons i {
  width: 100%;
  font-size: 40px;
}
.hide-nav .icons p, .hide-nav .icons .line {
  display: none;
}
.hide-nav .categories {
  border-radius: 0;
  margin: 0;
}
.hide-nav .categories i {
  width: 100%;
  font-size: 40px;
}
.hide-nav .categories p {
  display: none;
}
@media only screen and (max-width: 800px) {
  .hide-nav {
    display: none;
  }
}

.subcategories {
  color: #ccc;
  display: none;
  flex-direction: column;
  margin: 0;
  transition: transform 0.3s ease;
}
.subcategories a {
  color: #ccc;
  text-decoration: none;
  color: #ccc;
}
.subcategories a > span {
  margin-right: 15px;
}
.subcategories .subcategory {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 13px;
}
.subcategories .subcategory i {
  margin-right: 10px;
}
.subcategories .subcategory > p {
  margin: 0;
}
@media only screen and (max-width: 800px) {
  .subcategories .subcategory > p {
    font-size: 20px;
  }
}

.show_cat {
  display: flex;
  padding: 0;
}

a {
  text-decoration: none;
  color: #0c0a0a;
}

.box {
  padding: 20px;
  border-radius: 10px;
  max-width: 80%;
  box-shadow: 0 0 5px rgb(177, 165, 165);
  color: #0c0a0a;
  background-color: rgba(245, 236, 183, 0.96);
  text-align: center;
  margin: 20px auto;
}
.box h2 {
  color: black;
}
.box a {
  text-decoration: none;
  color: black;
}

.user_card {
  display: flex;
  align-items: center;
  font-size: 20px;
}
.user_card .user-card-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.user_card .profile-card {
  cursor: pointer;
}
.user_card .profile-card:hover {
  color: #7380ec;
}

.date {
  font-size: 15px;
  margin-left: 10px;
  color: black;
}

.line {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid black;
}

.text {
  text-align: left;
  padding-bottom: 10px;
}
.text > p {
  font-size: 18px;
}

@media only screen and (max-width: 800px) {
  .hidden {
    display: none;
  }
  .modal .modal-content {
    margin-top: 50%;
  }
  .modal .modal-content > img {
    height: 200px;
  }
}
@media (min-width: 800px) {
  .text p.hidden_ {
    display: none;
  }
}
.image img {
  max-width: 90%;
  height: 350px;
  cursor: pointer;
  border-radius: 10px;
}

.likes {
  display: flex;
  justify-content: flex-start;
}

.actions {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding: 0 25px 0 25px;
}
.actions > a {
  text-decoration: none;
}
.actions .likes {
  margin: 20px 0 10px 0;
  order: -1;
  font-size: 15px;
}
.actions .likes > img {
  width: 20px;
  height: 20px;
  padding-right: 5px;
}
.actions .info {
  display: flex;
  align-items: center;
  font-size: 15px;
}
.actions .info > p {
  margin: 20px 10px 10px 0;
}
.actions p {
  margin: 0;
  cursor: pointer;
  font-weight: bold;
}
.actions p:hover {
  color: #7380ec;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  margin: 10% auto;
  padding: 20px;
  width: 50%;
}
.modal-content > img {
  width: 90%;
  height: 350px;
  border-radius: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 40px;
  font-weight: bold;
}
.close:hover, .close:focus {
  text-decoration: none;
  cursor: pointer;
}

.comments-none {
  display: none;
}

.comments {
  font-size: 20px;
  text-align: left;
  overflow-y: auto;
  max-height: 300px;
}
.comments .users {
  display: flex;
  text-align: left;
  width: 100%;
}
.comments .users > img {
  width: 50px;
  height: 50px;
  border-radius: 70%;
}
.comments .users p {
  padding: 10px;
  color: white;
  background-color: #262525;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 15px;
}
.comments .comment-show {
  display: flex;
  justify-content: flex-end;
}
.comments .comment-show > img {
  width: 50px;
  height: 50px;
  border-radius: 70%;
}
.comments .comment-show p {
  padding: 10px;
  color: white;
  background-color: #262525;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 15px;
}
.comments > p {
  margin-right: 15px;
}

.user-comment {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: white;
  background-color: #262525;
  border-radius: 10px;
  width: 100%;
  font-size: 15px;
}
.user-comment > input.comment[type=text] {
  color: white;
  background-color: #262525;
  border: 1px solid #262525;
  border-radius: 10px;
  width: 100%;
  font-size: 15px;
  padding: 10px;
  outline: none;
}

.chat {
  display: flex;
  margin: 10px;
}
.chat > img.perfil {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}
@media only screen and (max-width: 1250px) {
  .chat > img.perfil {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  .chat > img.perfil {
    display: block;
  }
}
.chat .info {
  padding: 12px 5px 0 5px;
}
.chat .info > p {
  margin: 7px 0 0 0;
}
.chat .action {
  cursor: pointer;
  border-radius: 15px;
  font-size: 20px;
  margin: auto;
  padding: 0 25px 0 25px;
  font-weight: bold;
}
.chat .action > p {
  margin: 0;
}

.box h4.action {
  cursor: pointer;
}

.register-box {
  background-color: black;
  border-radius: 10px;
  margin: 20px 20px;
  padding: 20px;
}
.register-box > p {
  font-size: 20px;
}
.register-box .button {
  background-color: #d8dfd9;
  border-radius: 10px;
  padding: 15px;
  font-size: 30px;
  cursor: pointer;
  margin: auto 50px;
}
.register-box .button > a {
  color: #161414;
  text-decoration: none;
}
@media only screen and (max-width: 1250px) {
  .register-box .button > a {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  .register-box .button > a {
    display: block;
  }
}
.register-box .button i {
  display: none;
}
@media only screen and (max-width: 1250px) {
  .register-box .button i {
    display: block;
    color: black;
  }
}

.return {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  margin: 1% 0 0 3%;
  z-index: 1;
  opacity: 0;
  transform: scale(0.5);
  animation: aparecer 1s ease forwards;
}
.return:hover {
  transition: background-color 0.3s ease;
  background-color: #d8dfd9;
}
.return i {
  padding-top: 15px;
}
@media only screen and (max-width: 1250px) {
  .return {
    margin: 1% 0 0 1%;
  }
}

.showpost {
  text-align: left;
}

.show {
  padding: 20px;
  border-radius: 10px;
  max-width: 80%;
  box-shadow: 0 0 5px rgb(177, 165, 165);
  color: #0c0a0a;
  background-color: rgba(245, 236, 183, 0.96);
  margin: 20px auto;
  opacity: 0;
  transform: scale(0.5);
  animation: aparecer 1s ease forwards;
}
.show h2 {
  color: #0c0a0a;
}
.show .user_card p {
  margin: 5px;
  font-size: 15px;
  padding-left: 10px;
}
.show .user_card .data {
  cursor: pointer;
}
.show .user_card .data:hover {
  color: #7380ec;
}
.show .user_card button {
  cursor: pointer;
  background-color: rgba(245, 236, 183, 0.96);
  border: none;
  font-size: 30px;
  margin-left: auto;
}

.image img {
  padding-top: 10px;
  width: 100%;
  max-width: 100%;
}

.main_comments {
  margin: 0 9% 0 9%;
  opacity: 0;
  transform: scale(0.5);
  animation: aparecer 1s ease forwards;
}
@media only screen and (max-width: 1250px) {
  .main_comments {
    margin: 0 8% 0 8%;
  }
  .main_comments .main {
    margin: 0 0 0 5%;
  }
}
@media only screen and (max-width: 800px) {
  .main_comments {
    margin: 0 7% 0 7%;
    flex: 1;
  }
}
.main_comments .count_comments {
  display: flex;
  font-size: 20px;
  padding-bottom: 5px;
}
.main_comments .count_comments p {
  margin: 0;
  padding-left: 15px;
}
.main_comments .count_comments i {
  text-align: center;
  font-size: 30px;
}
.main_comments .count_comments button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin-left: auto;
  padding-right: 10px;
}
@media only screen and (max-width: 800px) {
  .main_comments .count_comments {
    font-size: 15px;
  }
  .main_comments .count_comments i {
    font-size: 25px;
  }
}

.all_comments {
  text-align: left;
  background-color: rgba(245, 236, 183, 0.96);
  box-shadow: 0 0 5px rgb(177, 165, 165);
  border-radius: 10px;
  padding: 20px 0 20px 30px;
  width: auto;
}
.all_comments .data {
  padding-left: 10px;
}
.all_comments .comment-user {
  margin: 20px 0 0;
  padding: 10px 20px 5px 20px;
  width: 92%;
  border-radius: 10px;
  background-color: #d8dfd9;
}
.all_comments .comment-user textarea {
  resize: none;
  width: 100%;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: #d8dfd9;
}
.all_comments .comment-user button {
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 40%;
  background-color: #d8dfd9;
  align-items: end;
  margin-left: 98%;
}
@media only screen and (max-width: 800px) {
  .all_comments .comment-user {
    margin-top: 20px;
  }
}
.all_comments p {
  font-size: 15px;
  margin: 0;
  padding-right: 10px;
}
@media only screen and (max-width: 800px) {
  .all_comments {
    margin-left: 0;
    flex-direction: column;
  }
}

.actions-show {
  display: flex;
  align-items: center;
  font-size: 20px;
}
.actions-show i {
  margin: 20px 0 0 0;
  padding-left: 20px;
}
.actions-show p {
  margin: 20px 0 0 0;
}
.actions-show p.date-create {
  margin-left: auto;
}

.back {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  margin: 100px 390px 3%;
  z-index: 1;
}
.back:hover {
  transition: background-color 0.3s ease;
  background-color: #d8dfd9;
}
.back i {
  padding-top: 15px;
}
@media only screen and (max-width: 1250px) {
  .back {
    margin: 100px 390px 3%;
  }
}

.showpost {
  text-align: left;
}

form .box {
  margin: 1rem 0;
  max-width: none;
}

.box .user {
  justify-content: space-between;
  padding: 1rem;
}
.box .user__avatar {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.box .user__avatar h2 {
  font-size: 1.5rem;
  font-weight: 500;
  padding-left: 1rem;
}
.box .user__avatar i {
  font-size: 2rem;
}
.box .user__date p {
  font-size: 1rem;
}

.text .field {
  display: flex;
  flex-direction: row-reverse;
}
.text .field .attach-file {
  color: #929292;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 14px;
  position: absolute;
}
.text .field .attach-file:hover {
  color: #797979;
}
.text .field input, .text .field textarea {
  background: rgba(221, 221, 221, 0.2941176471);
  border-radius: 5px;
  border: none;
  color: #0c0a0a;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 1rem;
  margin: 0 0 1rem;
  padding: 1rem;
  width: 100%;
}

form .images {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-bottom: 1rem;
}
form .images input[type=file] {
  display: none;
}
form .images .image {
  display: flex;
  margin: 0 4px 4px 0;
  cursor: pointer;
}
form .images .image img {
  border-radius: 10px;
  height: 5rem;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border: #929292 solid 2px;
  width: 5rem;
}
form .images .image .remove-image {
  color: red;
  display: none;
  font-size: 22px;
  position: absolute;
  transform: translateX(68px);
}
form .images .image:hover img {
  border: red solid 2px;
}
form .images .image:hover .remove-image {
  display: block;
}
form .images > p.extra-files {
  color: #929292;
  font-size: 1rem;
  font-weight: 600;
  margin: auto auto auto 8px;
}

.btn-container {
  display: flex;
  flex-direction: row-reverse;
}
.btn-container .btn {
  background-color: rgba(196, 196, 196, 0.2941176471);
  border-radius: 10px;
  border: none;
  color: black;
  font-size: 1rem;
  padding: 1rem 2rem;
  transition: background-color 100ms ease-in-out;
}
.btn-container .btn:hover {
  background-color: rgba(145, 145, 145, 0.2941176471);
}

.user-input {
  width: 19rem;
  max-width: 90%;
  position: relative;
  margin: 0 0 2.2rem 0;
}
.user-input .input {
  width: 100%;
  height: 50px;
  padding: 0 1rem 0 3rem;
  border: 0.13rem solid #905818;
  outline: none;
  color: #905818;
  background-color: rgba(221, 221, 221, 0.2941176471);
  border-radius: 1rem;
  font-size: 1.1rem;
  font-weight: 600;
}
.user-input ::-moz-placeholder {
  font-size: 1rem;
  color: #b4791a;
  font-weight: 600;
}
.user-input ::placeholder {
  font-size: 1rem;
  color: #b4791a;
  font-weight: 600;
}

.icon {
  border: 0;
  outline: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
  color: #b4791a;
}

.inputs {
  width: 3.5rem;
  height: 3.5rem;
  text-align: center;
  border: none;
  border-bottom: 1.5px solid #d2d2d2;
  background: rgba(0, 0, 0, 0.0745098039);
  margin: 0 0.35rem 1.5rem 0;
  border-radius: 0.3rem;
  font-size: 1.8em;
}
.inputs:focus {
  background-color: rgba(12, 177, 97, 0.2039215686);
  border: 0.1rem solid #0cb162;
  outline: none;
}
.inputs::-moz-placeholder {
  color: rgba(0, 0, 0, 0.156);
}
.inputs::placeholder {
  color: rgba(0, 0, 0, 0.156);
}

.alert {
  background-color: red;
  height: 2.5rem;
  display: flex;
  justify-content: left;
  align-items: center;
  border: 0.1rem solid rgb(139, 0, 0);
  color: #ccc;
  border-radius: 1rem;
  margin: 0 0 0.9rem 0;
  padding: 0 0 0 0.5rem;
  font-weight: 700;
  font-size: 1.1em;
  width: 16.5rem;
}

.alert-success {
  height: 2rem;
  display: flex;
  justify-content: left;
  align-items: center;
  color: #ccc;
  border-radius: 0.5rem;
  margin: 0 0 2rem 0;
  padding: 0.9rem;
  font-weight: 700;
  font-size: 1.3em;
  width: 24rem;
  border: 0.5rem solid #076336;
  background-color: rgba(12, 177, 97, 0.2039215686);
}

.alert2 {
  height: 2.5rem;
  display: flex;
  justify-content: left;
  align-items: center;
  border-left: 0.5rem solid rgb(139, 0, 0);
  border: 0.1rem solid red;
  color: #ccc;
  background-color: rgb(211, 12, 12);
  border-radius: 1rem;
  margin: 0 0 1.5rem 0;
  padding: 0 0 0 0.5rem;
  font-weight: 700;
  font-size: 1.1em;
  width: 20.5rem;
}

.icon-alert {
  margin: 0 1rem 0 0;
  color: 0.5rem solid #0cb162;
}

.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  z-index: 2;
}

.modal-header {
  padding: 20px;
  border-radius: 5px;
  margin: 40%;
  background-color: #fff;
  color: #000;
  align-items: center;
}
.modal-header i {
  font-size: 50px;
}

.modal-header h2 {
  margin: 0;
  color: #0c0a0a;
}

.close-modal {
  height: 30px;
  width: 30px;
  margin: 0 0 16% 55.5%;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  font-size: 20px;
  color: #000; /* o tu color deseado */
}/*# sourceMappingURL=main.css.map */