//whites
$font_w: white;
$font_w1: #ccc;
$font_w2:rgb(177, 157, 157);

//blacks:
$font_b: black;
$font_b1: #1B1717;
$font_b2: #262525;
$font_b3: #000;

$col_red: rgb(211, 12, 12);
$red_dark: rgb(45, 3, 3);
$theme_bl: #06138a;
$font_g: green;


//border
$bor_fond: 0px 2px 4px rgba(0, 0, 0, 0.5);
$border: 1px solid #ccc;
$bor_card:2px solid rgba(255, 255, 255, 0.5);

//transitions
$tr:background-color 0.3s, color 0.3s;

//page
$primary-color: #080808;
$prin_color: rgb(18, 18, 18);

//form
$fuente: #000;

//box
$box-shadow: rgb(0, 0, 0) 3px 3px 6px 0px inset, rgba(0, 0, 0, 0.5) -3px -3px 6px 1px inset;
$boxshadow2: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

//background
$background1: #93F9B9;
$background2: #1D976C;

//input
$fill2: rgb(129, 129, 129);
$fill: rgb(70 68 68);
$input2: rgb(19, 19, 19);
$input: rgb(25, 25, 25);