//whites
$font_w: white;
$font_w1: #ccc;
$font_w2:rgb(177, 157, 157);

//blacks:
$font_b: black;
$font_b1: #1B1717;
$font_b2: #262525;
$font_b3: #000;

$col_red: red;
$theme_bl: #06138a;
$font_g: green;


//border
$bor_fond: 0px 2px 4px rgba(0, 0, 0, 0.5);
$border: 1px solid #ccc;
$bor_card:2px solid rgba(255, 255, 255, 0.5);

//transitions
$tr:background-color 0.3s, color 0.3s;
