
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: $font_b1;
  font-family: 'Almarai', sans-serif;
}
.container {
  height: 100%;
  display: flex;
  color: $font_w1;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}