
.fondo{
    margin: 2.5rem;
    height: 87vh;
    width: 78%;
    display:flex;
    border-radius: 1rem;
    color: $font_w;
    /* border: 0.05rem solid $fill2; */
    box-shadow: $boxshadow2;
    background-color: $primary-color;
}

.back{
    padding: 2rem 0 0 2rem;
    font-size: 2em;
    cursor: pointer;
    position: absolute;

    &:hover{
        color: $background1;
    }
}

.left {
    flex: 0.7;
    padding: 2rem;
    @include flex-grid;
    background-color: $prin_color;
    border-radius: 1rem 0 0 1rem;
}

.right {
    flex: 0.5;
    border-radius: 2rem;
    @include flex-grid;

    .box3 {
        font-size: 2em;
        @include flex-grid;
    }

    .logo {
        @include flex-center;
        font-size: 0.9em;
        color: $font_w;
        order: 3;
    }
}

.slogan2{
    font-size: 1.5rem;
    order: 0;
    color: $font_w;
}

img {
    height: 4.2rem;
}

.new {
    color: $background1;
    margin-left: 0.5rem;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        color: $font_w;
    }
}

.option {
    @include flex-center;
}

.box-small{
    display: grid;
    justify-content: right;
    margin: 0 0 2rem 0;

    .forgot {
        text-decoration: none;
        color: $font_w2;
        font-size: 0.6em;
        cursor: pointer;

        &:hover {
            color: $background1;
        }
    }
}

.registrate {
    @include flex-center;
    width: 13rem;
    height: 2.8rem;
    border-radius: 0.3rem;
    font-size: 1em;
    cursor: pointer;
    font-weight: 500;
    background-color: $background1;
    color: $font_b;
    font-weight: 600;
    border: none;
    justify-content: center;
    
    &:hover {
        background-color: $font_w;
    }
}

.register {
    @include flex-center;
    color: $font_w2;
    font-size: 1rem;
    margin: 0.5rem 0;
}

.greeting {
    margin: 2rem;
    @include flex-center;
}

.instruc {
    font-size: 1.5rem;
    order: 0;
    color: $font_w;
    @include flex-center;
}

.label {
    color: $font_w2;
    background: none;
    margin: 0;
    font-size: 0.7em;
}

.login_sp {
    order: 3;
}

.principal2 {
    @include flex-center;
}

.present2 {
    height: 28.5rem;
    order: 1;
} 