*{
    padding: 0;
    margin: 0;
}

.fondo{
    margin: 2.5rem;
    height: 87vh;
    width: 85%;
    display:flex;
    border-radius: 1rem;
    color: $font_w;
    border: 0.05rem solid $fill2;
    box-shadow: $boxshadow2;
    background-color: $primary-color;
}

.back{
    padding: 2rem 0 0 2rem;
    font-size: 2em;
    cursor: pointer;
    position: absolute;

    &:hover{
        color: $background1;
    }
}

.left2 {
    flex: 0.7;
    padding: 2rem;
    @include flex-grid;
    border-radius: 1rem 0 0 1rem;
}

.right2 {
    flex: 0.5;
    border-radius: 2rem;
    display: grid;
    justify-content: center;
    /* padding: 1rem 0 0 0; */
    align-content: space-around;
}

.slogan2{
    font-size: 1.5em;
    order: 0;
    color: $font_w;
}

.slogan3{
    font-size: 1.5em;
    order: 0;
    color: $font_w;
    @include flex-grid;
    text-align: center;
    margin: 0 0 1.8rem 0; 
}

.new {
    color: $background1;
    margin-left: 0.5rem;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        color: $font_w;
    }
}

.register {
    @include flex-center;
    color: $font_w2;
    font-size: 1rem;
    margin: 0.5rem 0;
}

.label2 {
    color: $font_w2;
    background: none;
    margin: 0 0 0 0.8rem;
    font-size: 1.2em;
}

.principal5 {
    @include flex-grid;
    background-color: rgb(19, 19, 19);
    padding: 1.5rem 3rem;
    border-radius: 2rem;
}

.present2 {
    height: 32rem;
    order: 1;
}

.option2 {
    @include flex-center;
    margin: 4rem 0 1rem 0;
}

.signup{
    border: none;
    @include flex-center;
    height: 2.8rem;
    border-radius: 0.5rem;
    font-size: 1em;
    width: 14rem;
    cursor: pointer;
    font-weight: 600;
    background-color: $background1;
    color: $font_b;
    
    &:hover {
        background-color: $font_w;
    }
}

.button3{
    @include flex-center;
}