*{
    padding: 0;
    margin: 0;
}

.back{
    font-size: 2em;
    cursor: pointer;
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    color: $font_w;

    &:hover{
        color: $font_w;
    }
}

.slogan{
    font-size: 1.5em;
    order: 0;
    color: $brow1;
    @include flex-grid;
    text-align: center;
    margin: 0 0 1.8rem 0;
    font-weight: 600;
}

.new {
    color: $font_w;
    margin-left: 0.5rem;
    cursor: pointer;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: $brow3;

    &:hover {
        background-color: transparent;
        color: $brow3;
        border: 0.1rem solid $brow3;
    }
}

.register {
    @include flex-center;
    color: $brow1;
    font-size: 1rem;
    margin: 0.5rem 0;
}

.option2 {
    @include flex-center;
    margin: 2rem 0 1rem 0;
}

.signup{
    border: none;
    @include flex-center;
    height: 2.8rem;
    border-radius: 0.5rem;
    font-size: 1em;
    width: 22rem;
    max-width: 90%;
    cursor: pointer;
    font-weight: 600;
    background-color: $brow3;
    color: $font_w;
    
    &:hover {
        color: $font_w;
        background-color: $brow4;
    }
}

.btn-create{
    @include flex-center;
}

#message{
    position: absolute;
    bottom: -20px;
    color:$font_w;
    font-size: 15px;
    display: none;
    font-weight: 800;
}

#nomessage{
    position: absolute;
    bottom: -20px;
    color:$font_w;
    font-size: 15px;
    font-weight: 800;
    display: none;
}

#emailmsg{
    position: absolute;
    bottom: -20px;
    color:$font_w;
    font-size: 15px;
    font-weight: 800;
    display: none;
}
